{% extends "AmbAdherentBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/ZeroClipboard.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/TableTools.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/ColVis.js') }}" type="text/javascript" /></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            oTable = $('#DatatableEncaissement').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "oColVis": {
                    "buttonText": "Changer les colonnes"
                }                 
            });
            oTable = $('#DatatableDepense').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "oColVis": {
                    "buttonText": "Changer les colonnes"
                }                 
            });

            $('[data-toggle="modal"]').click(function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $(url).modal('open');
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal hide fade">' + data + '</div>').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });
            $('.date').datepicker({ dateFormat: 'dd-mm-yy' }) ;

        } );
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/demo_table_jui.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.4.custom.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/TableTools_JUI.css') }}" type="text/css" />
{% endblock %}
{% block ambadherent_body %}

<div class="well">
	<h3>DETAIL D'ADHESION N° {{ adhesion.matricule }}</h3>
		<dl class="dl-horizontal">
			<dt>DOSSIER N°</dt>
			<dd>: {{ adhesion.matricule}}</dd>
			<dt>NOM D'ADHERENT </dt>
			<dd>: {{ adhesion.civilite}} {{ adhesion.nom_prenom|upper}}</dd>
			<dt>DATE D'ADHESION </dt>
			<dd>: {{ adhesion.date_adhesion|date('d/m/Y')}}</dd>
			<dt>Profession</dt>
			<dd>: {{ adherent.profession}}</dd>
			<dt>Tél</dt>
			<dd>: {{ adherent.tel}} / {{ adherent.tel2}}</dd>
			<dt>Mobile</dt>
			<dd>: {{ adherent.mobile}} / {{ adherent.mobile2}}</dd>
			<dt>Fax</dt>
			<dd>: {{ adherent.fax}}</dd>
			<dt>Email</dt>
			<dd>: <a href="mailto:#">{{ adherent.email}}</a></dd>
			<dt>Adresse</dt>
			<dd>: {{ adherent.adress}}</dd>

		</dl>

		<div class="progress progress-striped active">
			<div class="bar" style="width: {{adhesion.pourcent}}%;"> 
				{{adhesion.pourcent|number_format(2, ',', ' ')}}%
			</div>
		</div>	
	<div class="well">
		<div class="row">
			<div class="span3">
				<dl class="dl-horizontal">
					<dt>NOM D'IMMEUBLE </dt>
					<dd>: {{ adhesion.imm_group}}</dd>

					<dt>TYPE D'IMMEUBLE</dt>
					<dd>: {{ adhesion.type_immeuble}}</dd>

					<dt>IMMEUBLE</dt>
					<dd>: {{ adhesion.immeuble}}</dd>

					<dt>ETAGE</dt>
					<dd>: {{ adhesion.etage}}</dd>

					<dt>APPARTEMENT N°</dt>
					<dd>: {{ adhesion.appartement}}</dd>

					<dt>TYPE D'APPARTEMENT</dt>
					<dd>: {{ adhesion.type_appartement}}</dd>

					<dt>SURFACE HABITABLE</dt>
					<dd>: {{ adhesion.surface_appt}} m²</dd>

					<dt>SURFACE TERRACE</dt>
					<dd>: {{ adhesion.surface_terrace}} m²</dd>

					<dt>SURFACE JARDIN</dt>
					<dd>: {{ adhesion.surface_jardin}} m²</dd>
				</dl>
			</div>
			<div class="span4">
				<dl class="dl-horizontal">
					<dt>COUT DU m² </dt>
					<dd>: {{ adhesion.cout|number_format(2, ',', ' ') }} DH</dd>

					<dt>COUT GLOBAL </dt>
					<dd>: {{ adhesion.cout_global|number_format(2, ',', ' ') }} DH</dd>

					<dt>PORTE-FEUILLE </dt>
					<dd>: {{ adhesion.invalid|number_format(2, ',', ' ') }} DH</dd>

					<dt>TOTAL IMPAYEES </dt>
					<dd>: {{ adhesion.impayee|number_format(2, ',', ' ') }} DH</dd>
					
					<dt>TOTAL DES VERSEMENTS </dt>
					<dd>: {{ adhesion.versement|number_format(2, ',', ' ') }} DH</dd>

					<dt>ECHEANCE PASSÉ </dt>
					<dd >: {% if echeance > 0 %}{{echeance}} ECHEANCES{% else %} 0 ECHEANCES{% endif %}</dd>
					<dt>ECHEANCE IMPAYÉE </dt>
					<dd id="echance_ecoule">: 
					{% if adhesion.echeance >0 %}
						{% set nb_echeance_impayee = (((echeance*adhesion.echeance)-(adhesion.versement-adhesion.avance))/adhesion.echeance)|number_format(0, ',', ' ') %} 
						{% if nb_echeance_impayee > 0 %} 
							{{nb_echeance_impayee}} ECHEANCES
						
						<dd>: 
							{{(nb_echeance_impayee*adhesion.echeance)|number_format(2, ',', ' ')}} DH 
						</dd>
						{%else%} 0 ECHEANCES{%endif%}
						</dd>
					{% else %} !ERROR! {% endif %}
					<dt>RESTE A PAYEE</dt>
					<dd>: {{ (adhesion.cout_global - adhesion.versement)|number_format(2, ',', ' ') }} DH</dd>

				</dl>
			</div>
			<div class="span3">
				<dl class="dl-horizontal">

					<dt>AVANCE OBLIGATOIRE </dt>
					<dd>: {{ adhesion.avance|number_format(2, ',', ' ') }} DH</dd>

					<dt>TYPE D'ECHEANCE </dt>
					<dd>: {{ adhesion.type_echeance }} mois</dd>

					<dt>NOMBRE D'ECHEANCE </dt>
					<dd>: 
					{% if adhesion.nb_mois != null and adhesion.type_echeance != null  %}
						{{ adhesion.nb_mois/adhesion.type_echeance }}
					{% endif %}
					</dd>

					<dt>MONTANT/ECHEANCE </dt>
					<dd>: {{ adhesion.echeance|number_format(2, ',', ' ') }} DH</dd>

					<dt>DATE DEBUT </dt>
					<dd>: {{ adhesion.date_debut|date('d/m/Y') }}</dd>

					
				</dl>
			</div>		
		</div>
	<h4>COMMENTAIRE </h4>
	<p>{{ adhesion.commentaire}}</p>
	</div> 
	<div class="well">
		<h4>LES VERSEMENTS </h4>
		<table id="DatatableEncaissement"  class="display">
			<thead>
				<th>DATE</th>
				<th>PIECE N°</th>
				<th>MODE</th>
				<th>DESIGNATION</th>
				<th>MONTANT</th>
				<th>STATUT</th>
			</thead>
			<tbody>
			{% for encaissement in encaissements %}
						<tr>
							<td>{{encaissement.dateOperation|date('Y/m/d')}}</td>
							<td>{{encaissement.NumPiece}}</td>
							<td>{{encaissement.ModeEncaissement}}</td>
							<td>
								{%if encaissement.TypeEncaissment == 'FRAIS DE GESTION' %}
	                            {{ encaissement.TypeEncaissment }} {{ encaissement.AnneeGestion }}
	                            {%else%}{{ encaissement.TypeEncaissment }} {%endif%}
							</td>
							<td style="text-align:right">{{encaissement.Montant|number_format(2, ',', ' ') }} DH</td>
							<td>{{encaissement.Statut}}</td>
						</tr>
			{%endfor%}	
			</tbody>
		</table>
	</div> 
	{%if depenses|length > 0 %}
		<div class="well">
			<h4>LES RESTITUTIONS </h4>
			<table id="DatatableDepense"  class="display">
				<thead>
					<th>DATE</th>
					<th>PIECE N°</th>
					<th>MODE</th>
					<th>DESIGNATION</th>
					<th>MONTANT</th>
				</thead>
				<tbody>
				{% for depense in depenses %}
					<tr>
						<td>{{depense.dateOperation|date('Y/m/d')}}</td>
						<td>{{depense.NPiece}}</td>
						<td>{{depense.ModeRetrait}}</td>
						<td>
							{%if depense.TypeRemboursement == 'FRAIS DE GESTION' %}
	                        {{ depense.TypeRemboursement }} {{ depense.AnneeGestion }}
	                        {%else%}{{ depense.TypeRemboursement }} {%endif%}
						</td>
						<td style="text-align:right">{{depense.Montant|number_format(2, ',', ' ') }} DH</td>
					</tr>
				{%endfor%}	
				</tbody>
			</table>
		</div>
	{%endif%}
</div>	
{% endblock %}