{# src/Amb/AdherentBundle/Resources/views/Adherent/index.html.twig #}

{% extends "AmbAdherentBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Liste des adhérents
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/ZeroClipboard.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/TableTools.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/ColVis.js') }}" type="text/javascript" /></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            oTable = $('#DatatableAherent').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<"H"TCfr>t<"F"ip>',
                "oTableTools": {
                    "sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}",
                    "aButtons": [
                        "copy", "csv", "xls", "pdf",
                        {
                            "sExtends":    "collection",
                            "sButtonText": "Save",
                            "aButtons":    [ "csv", "xls", "pdf" ]
                        }
                    ]
                },
                "oColVis": {
                    "buttonText": "Changer les colonnes"
                }                   
            });
        } );
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/demo_table_jui.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.4.custom.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/TableTools_JUI.css') }}" type="text/css" />
{% endblock %}

{% block ambadherent_body %}
    
    <h2>Liste des contacts</h2>
        {% if is_granted('ROLE_OPERATOR') %}
            <a href="{{ path('ambadherent_ajouter') }}"><button class="btn btn-small" type="button">Ajouter nouveau adhérent</button></a>
        {% endif %}    
        <table cellpadding="0" cellspacing="0" border="0" id="DatatableAherent" class="display">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom et prénom</th>
                    <th>C.I.N</th>
                    <th>GSM</th>
                    <th>Email</th>
                    <th>R.I.B</th>
                    <th>Adresse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for adherent in adherents %}
                    <tr  class="gradeA">
                        <td>{{ adherent.id }}</td>
                        <td>{{ adherent.Civilite }} {{ adherent.NomPrenom }}</td>
                        <td>{{ adherent.Cin }}</td>
                        <td>{{ adherent.Mobile }}</td>
                        <td>{{ adherent.Email }}</td>
                        <td>{{ adherent.AttestRib }}</td>
                        <td>{{ adherent.Adress }}</td>
                        <td>
                            <a href="{{ path('ambadherent_voir', {'id': adherent.id, 'format':'html'}) }}" target="_blank"><button class="btn btn-small" type="button" title="Consultation"><i class="icon-eye-open icon-large"></i></button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td>Pas (encore !) d'adherents</td></tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
