{% extends "::html2pdf_layout.html.twig" %}
{% block body %}
<style>
table.versement {margin:10px auto; width:700px}
table.versement td,table.versement th{
    border:solid 1px #000;
    padding: 0 2mm;
}
table.versement th{
    text-weight:bold; 
    background:#EEE;
    padding: 0 2mm;
    text-align:center
}
.date{width:45px;}
.adh{width:10px}
.mode{width:50px}
.piece{width:85px}
.type{width:200px;}
.libelle{width:160px;}
.enc,.dep{width:100px}
h4{margin:3px 0}
</style>
<h2>Journal de trésorerie : du {{date_debut}} au {{date_fin}}</h2>

<table class="versement" >
    <thead>
        <tr>
            <th >Date</th>
            <th >ADH</th>
            <th style="width:35px">Mode</th>
            <th style="width:60px">Piece</th>
            <th style="width:200px">Type</th>
            <th style="width:170px">libelle</th>
            <th style="width:70px">Recettes </th>
            <th style="width:70px">Dépenses</th>
        </tr>
    </thead>
    <tbody>
    {% for journal in journals %}
        <tr>
            <td class="date">{{ journal.date_Operation|date('d/m/Y') }}</td>
            <td class="adh" style="text-align:right">{{ journal.adhesion }}</td>
            <td class="mode">{{ journal.mode| truncate(7, true, '') }}</td>
            <td class="piece">{{ journal.piece }}</td>
            <td class="type">{{ journal.type| truncate(19, true, '...') }}</td>
            <td class="libelle">{{ journal.libelle| truncate(19, true, '...') }}</td>
            <td class="enc" style="text-align:right">{{ journal.encaissement|number_format(2, ',', ' ')  }}</td>
            <td class="dep" style="text-align:right">{{ journal.depense|number_format(2, ',', ' ')  }}</td>
            
        </tr>
    {%endfor%} 

        <tr>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="text-align:right">{{totals.encaissements|number_format(2, ',', ' ')  }}</td>
            <td style="text-align:right">{{totals.depenses|number_format(2, ',', ' ')  }}</td>
            
        </tr> 
    </tbody>
</table>
{% endblock %}
