{# src/Amb/DebitBundle/Resources/views/Depense/index.html.twig #}

{% extends "AmbDebitBundle::depense_layout.html.twig" %}

{% block title %}
    Voir - {{ parent() }}
{% endblock %}

{% block ambdebit_body %}

    <h2>Consultation du dépense : N° {{ depense.id}} </h2>

<div class="well">
    <div class="row">
		<div class="span5">
			<dl class="dl-horizontal">
				<dt>MODE DE RETRAIT </dt>
				<dd>: {{ depense.ModeRetrait}} </dd>

				<dt>MODE N°</dt>
				<dd>: {{ depense.NPiece}}</dd>

				<dt>DATE D'OPERATION</dt>
				<dd>: {{ depense.DateOperation|date('d/m/Y')}}</dd>

				<dt>LIBELLE</dt>
				<dd>: {{ depense.Libelle}}</dd>
			</dl>
		</div>
		<div class="span5">
			<dl class="dl-horizontal">
				{%if depense.Contrat is not null %}
					<dt>CONTRAT</dt>
					<dd>: {{ depense.Contrat.Reference}}</dd>
				{%endif%}

				{%if depense.Facture is not null %}
					<dt>FACTURE</dt>
					<dd>: {{ depense.Facture}}</dd>
				{%endif%}

				<dt>MONTANT</dt>
				<dd>: {{ depense.Montant|number_format(2, ',', ' ')  }} DH</dd>

				<dt>COMPTE</dt>
				<dd>: {{ depense.Banque.Nom}}</dd>

				{%if depense.Fournisseur is not null %}
					<dt>FOURNISSEUR</dt>
					<dd>: {{ depense.Fournisseur.RaisonSocial}}</dd>
				{%endif%}
				
				{%if depense.Typedepense is not null %}
					<dt>TYPE DE DEPENSE</dt>
					<dd>: {{ depense.Typedepense.Libelle}}</dd>
				{%endif%}
			</dl>	
		</div>	
	</div>
	<blockquote>
		<small>Commentaire</small>
		<p>{{ depense.Commentaire}}</p>
	</blockquote>
</div>
{% endblock %}