{% extends "::html2pdf_layout.html.twig" %}
{% block body %}
<style>
table.versement {margin:10px auto; width:700px;border-collapse:collapse;}
table.versement td,table.versement th{
    border:solid 1px #000;
    padding: 0 2mm;
    font-size:11px;
}
table.versement th{
    text-weight:bold; 
    background:#EEE;
    padding: 0 2mm;
    text-align:center
}
.date{width:45px;}
.adh{width:10px}
.nom{width:200px}
.mode{width:135px}
.piece{width:85px}
.type{width:300px;}
.libelle{width:170px;}
.frs{width:130px}
h4{margin:3px 0}
</style>
<h2>Liste des désistements</h2>
<table class="versement" >
    <thead>
        <tr>
            <th>Date</th>
            <th>Adherent</th>
            <th>Dossier N°</th>
            <th>Appartement</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        {% for desistement in desistements %}
            <tr  class="gradeA">
                <td>{{ desistement.detail.DateDesistement|date('d/m/Y') }}</td>
                <td>{{ desistement.detail.Adherent.NomPrenom}} </td>
                <td>{{ desistement.detail.matricule}} </td>
                <td>{{ desistement.detail.ImmGroup}} ({{ desistement.detail.Immeuble}}) - {{ desistement.detail.Etage}} - N°{{ desistement.detail.Appartement}}  </td>
                <td  style="text-align:right">
                    {{ desistement.montant|number_format(2, ',', ' ') }}
                </td>
                
            </tr>
        {% else %}
            <tr>
            <td clospan="7">Pas (encore !) de désistement</td></tr>
        {% endfor %}
        <tr>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none;border-right:solid 1px #000;"></td>
            <td >TOTAL</td>
            <td style="text-align:right; background:#EEE">{{ total|number_format(2, ',', ' ')  }}</td>
        </tr> 
    </tbody>
</table>
{% endblock %}